:root {
    --maroon: #550000;
    --darkmaroon: #330000;
    --white: #FFFFFF;
    --solidblack: #000000;
    --mustard: #FFD700; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;  

    background: 
        linear-gradient(
            rgba(85, 0, 0, 0.6),
            rgba(85, 0, 0, 0.6)
        ), 
        url(pictures/umbg.avif);
    
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.logo{
    display: flex;
}
.logo img{
    width: 10vw;
    height: 10vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
.site{
    display: flex;
    gap: 80px;
}
.site a {
    text-decoration: none;
    color: var(--white);
}
.umtext-container{
    height: 80px;
    display:flex;
    align-items: center;
    padding-top: 320px;
    padding-left: 60px;
}
.enroll-now-button{
    padding: 10px 15px;
}
.um-texts h1{
    color: var(--mustard);
    font-size: 7rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.um-texts p{
    color: var(--white);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.enroll-now-button{
    padding: 10px 15px;
    background-color: var(--maroon);
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    border:none;
    border-radius: 12px;
    text-decoration: none;
    transition: background 0.3s;
}
.enroll-now-button:hover{
    background-color: var(--darkmaroon);
}
.enroll-now-button a{
    color: var(--white);
    text-decoration: none;
}

