:root {
    --maroon: #550000;
    --darkmaroon: #330000;
    --white: #FFFFFF;
    --solidblack: #000000;
    --mustard: #FFD700; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;  
    background: 
        linear-gradient(rgba(85, 0, 0, 0.7), 
        rgba(85, 0, 0, 0.7)), 
        url(/pictures/umbg.avif);     
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    position: relative;
    z-index: 1500;
}

.logo img {
    width: 120px;
    height: auto;
}

#menu-toggle { display: none; }

.hamburger {
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;     
    top: 50px;           
    right: 60px;         
    z-index: 3000;       
}

.hamburger span {
    height: 4px;
    background: var(--white);
    border-radius: 2px;
    transition: 0.3s ease;
}

.site {
    position: fixed;
    top: 0;
    right: -300px;   
    width: 300px;
    height: 100vh;
    background: var(--maroon);
    display: flex;
    flex-direction: column;
    padding: 120px 30px;
    gap: 30px;
    transition: right 0.4s ease;
    z-index: 2000;
}

#menu-toggle:checked ~ .site { right: 0; }

#menu-toggle:checked + .hamburger span:nth-child(1) { transform: rotate(45deg) translate(6px, 6px); }
#menu-toggle:checked + .hamburger span:nth-child(2) { opacity: 0; }
#menu-toggle:checked + .hamburger span:nth-child(3) { transform: rotate(-45deg) translate(6px, -6px); }

.site a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.site a:hover { color: var(--mustard); }

.umtext-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 0 60px;
}

.um-texts h1 {
    color: var(--mustard);
    font-size: 5rem;     font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.1;
}
.um-texts h2 {
    color:var(--white);
}
.um-texts p {
    color: var(--white);
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.core-values-title {
    width: fit-content;
    margin: 80px auto 40px;
    padding: 15px 40px;
    background-color: var(--mustard);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.core-values-title h1 {
    color: var(--maroon);
    font-size: 2rem;
}
img {
    transition: box-shadow 0.25s ease;
}

img:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.12);
}

footer {
    background-color: var(--maroon);
    color: var(--white);
    text-align: center;
    padding: 40px;
    margin-top: 50px;
}